
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Masterlayout.cshtml";
}
<form class="frm-Search" action="#" method="post">
    <h2>What do you want to looking for ?</h2><hr />
    <input type="text" class="search_key" name="timkiem" placeholder="What you want to find ?" value="" />
    <a href="/seach-key"><input type="button" class="Sk" value="Search" /></a>
</form>

