
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout2.cshtml";
}
<ul>
<p>Math method: (6x<sup>3</sup>+5<sup>2</sup>x<sup>4</sup>)<sup>2</sup>+ 5 = 0</p>
<p>Chemical method:H<sub>2</sub>SO<sub>4</sub></p>
    </ul>
