
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Tap dem nao</h2>
<a href="Intro"target="_blank">
    <img src=""/>
</a>
<a href="New"target="_blank"></a>
<a href="Contact"target="_blank"></a>

