
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CTBaoTuoiTre.cshtml";
}

<h2>Tổng lãnh sự Cuba tại TP.HCM: Cuba cảm ơn Việt Nam từ tận đáy lòng</h2>
<h3>Tổng lãnh sự Cuba tại TP.HCM chia sẻ về những thành tựu hợp tác song phương và kỳ vọng mở rộng đầu tư, thương mại giữa hai nước trong các lĩnh vực nông nghiệp, năng lượng.</h3>
<p>
    Những tháng qua, quan hệ Việt Nam - Cuba tiếp tục được củng cố qua nhiều hoạt động hợp tác cụ thể.

    Ngày 2-9 vừa qua, Thủ tướng Phạm Minh Chính cùng Bí thư thứ nhất - Chủ tịch nước Cuba Miguel Díaz-Canel đã gặp gỡ các doanh nghiệp tại Hà Nội để trao đổi, thúc đẩy hợp tác thương mại và đầu tư giữa hai nước.

    Nhắc lại phát biểu của lãnh tụ Fidel Castro "Vì Việt Nam, Cuba sẵn sàng hiến dâng cả máu của mình", Thủ tướng Phạm Minh Chính mong muốn các doanh nghiệp Việt Nam "Vì Cuba, sẵn sàng hiến thời gian, công sức, trí tuệ của mình".
</p>
<h2>Học hỏi kinh nghiệm phát triển</h2>
<p>Trả lời phỏng vấn Tuổi Trẻ, Tổng lãnh sự Cuba tại TP.HCM, bà Ariadne Feo Labrada, cho biết: "Chúng tôi có nhiều điều cần học hỏi từ các doanh nghiệp Việt Nam, đặc biệt là những thành tựu đạt được trong 40 năm Đổi mới. Cuba cũng đang tiến hành quá trình cập nhật mô hình phát triển kinh tế - xã hội xã hội chủ nghĩa, do đó việc tiếp thu kinh nghiệm là rất cần thiết".</p>
<h3>* Cuba mong muốn học kinh nghiệm gì từ Việt Nam, thưa bà?</h3>
<p>- Trong lĩnh vực nông nghiệp, Việt Nam hiện là một trong những nước xuất khẩu gạo lớn nhất thế giới với chất lượng cao và đa dạng giống.</p>